<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Tasks</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ToDo.styles.css" asp-append-version="true" />
    <style>
        .pagination .page-item.active .page-link {
            color: grey; 
            background-color: white;
            border-color: grey;
        }

        .pagination .page-item .page-link {
            color: grey;
        }
    </style>
</head>

<body>
    
    <div class="container">
        <header class="">
            <nav class="navbar navbar-dark bg-dark shadow-sm mb-4">
                <div class="container-fluid">
                    <span class="navbar-brand fw-semibold">
                        Task Management System
                    </span>
                </div>
            </nav>
        </header>
        <main>
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
